<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30"
            class="d-inline-block align-center" alt="">
        Resume Builder
    </a>
</nav>
<div class="container my-4">
    <div class="card">
        <form class="card-text m-4">
            <div class="form-row row">
                <div class="col-md-3 border-right">
                    <app-image-card></app-image-card>
                </div>
                <div class="form-group col-lg-4">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="e.g. John">
                </div>
                <div class="form-group col-lg-4">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="e.g. Deo">
                </div>
                <div class="form-group col-lg-4">
                    <label for="mobile">Mobile no.</label>
                    <input type="text" class="form-control" id="mobile" placeholder="e.g. 9212484844">
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-lg-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="e.g. Johndeo@email.com">
                </div>
                <div class="form-group col-lg-6">
                    <label for="profession">Profession.</label>
                    <input type="text" class="form-control" id="profession" placeholder="e.g. Software Engineer">
                </div>
            </div>
            <button type="button" class="btn btn-link text-start">
                <mat-icon class="align-middle">add</mat-icon>Add Social Links
            </button>
            <div class="form-row row">
                <div class="form-group col-lg-5">
                    <label for="inputAddress">Social Website</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>Linkedin</option>
                        <option>Github</option>
                        <option>Twitter</option>
                        <option>Website</option>
                    </select>
                </div>
                <div class="form-group  col-lg-5 ">
                    <label for="socialLink">Social Link</label>
                    <input type="text" class="form-control" id="socialLink" placeholder="e.g. www.website.com">
                </div>
                <div class="form-group  col-lg-2 ">
                    <button type="button" class="btn">
                        <mat-icon class="align-middle">delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label for="summary">Professional summary</label>
                <textarea (click)="openEditor()" class="form-control" id="summary" placeholder="e.g. 1234 Main St">
                    </textarea>
            </div>
            <button type="button" class="btn btn-link text-start">
                <mat-icon class="align-middle">add</mat-icon>Add Skills
            </button>
            <div class="form-row row">
                <div class="form-group col-lg-4">

                </div>
                <div class="form-group  col-lg-4 ">
                    <label for="socialLink">Skills</label>
                    <input type="text" class="form-control" id="socialLink" placeholder="e.g. Javascript">
                </div>
                <div class="form-group  col-lg-2 ">
                    <button type="button" class="btn">
                        <mat-icon class="align-middle">delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">Work Experience</h3>
                        <mat-icon class="text-end">add</mat-icon>
                    </div>
                    <div class="form-row row">
                        <div class="form-group col-lg-5">
                            <label for="firstName">Job Title</label>
                            <input type="text" class="form-control" id="firstName"
                                placeholder="e.g. Software Developer">
                        </div>
                        <div class="form-group col-lg-5">
                            <label for="lastName">Employer</label>
                            <input type="text" class="form-control" id="lastName"
                                placeholder="e.g. Amazon private Ltd.">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="form-group col-lg-4">
                            <label for="firstName">City</label>
                            <input type="text" class="form-control" id="firstName" placeholder="e.g. Chennai">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="lastName">State</label>
                            <input type="text" class="form-control" id="lastName" placeholder="e.g. Tamil Nadu">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="lastName">Country</label>
                            <input type="text" class="form-control" id="lastName" placeholder="e.g. India">
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="form-group col-lg-5">
                            <!-- <mat-form-field appearance="fill">
                               <label for="">Start Date</label>
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field> -->
                            <label for="lastName">Start Date</label>
                            <!-- <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle> -->
                            <mat-datepicker #picker></mat-datepicker>
                            <input type="date" class="form-control" id="lastName" placeholder="e.g. Tamil Nadu">
                        </div>
                        <div class="form-group col-lg-5">
                            <label for="lastName">End Date</label>
                            <input type="text" class="form-control" id="lastName" placeholder="e.g. Tamil Nadu">
                        </div>
                    </div>
                    <div class="form-check my-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Currently I work here
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
<footer></footer>