<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30"
            class="d-inline-block align-center" alt="">
        Resume Builder
    </a>
</nav>
<div class="container my-4">
    <div class="card">
        <form class="card-text m-4">
            <h3 class="ps-3"><strong>Basic Details</strong></h3>
            <div class="form-row row">
                <app-image-card class="col-md-3 border-right"></app-image-card>
                <div class="col-md-9 row">
                    <div class="form-group col-lg-6">
                        <label class="required" for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="e.g. John">
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="required" for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="e.g. Deo">
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="required" for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="e.g. Johndeo@email.com">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="profession">Profession</label>
                        <input type="text" class="form-control" id="profession" placeholder="e.g. Software Engineer">
                    </div>

                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-sm-6">
                    <label class="required" for="mobile">Mobile no.</label>
                    <input type="text" class="form-control is-invalid" id="mobile" placeholder="e.g. 9212484844">
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
            <div class="form-row row">
                <div class="form-group col-5">
                    <label for="socialSite">Social Website</label>
                    <select id="socialSite" name="socialSite" class="form-select">
                        <option selected>Select</option>
                        <option>Linkedin</option>
                        <option>Github</option>
                        <option>Twitter</option>
                        <option>Website</option>
                    </select>
                </div>
                <div class="form-group  col-5">
                    <label for="socialLink">Social Link</label>
                    <input type="text" class="form-control" id="socialLink" name="socialLink"
                        placeholder="e.g. www.website.com">
                </div>
                <div class="form-group  col-2">
                    <mat-icon matTooltip="Delete Social Site" class="clickable d-block delete-icon">delete</mat-icon>
                </div>
            </div>

            <button matTooltip="Add additional Social link" type="button" class="btn btn-link link-button ps-0">
                <mat-icon class="align-middle">add</mat-icon>Add Social Links
            </button>
            <div class="form-group">
                <label for="summary">Professional summary</label>
                <angular-editor class="form-control clickable no-focus no-border"
                    (click)="openEditor('Professional Summary')" placeholder="Enter text" [config]="editorConfig">
                </angular-editor>
            </div>

            <div class="form-row row">
                <div class="form-group col-lg-4">
                    <label class="required" for="socialLink">Rating</label>
                    <ngx-star-rating id="socialLink"></ngx-star-rating>
                </div>
                <div class="form-group  col-lg-4 ">
                    <label class="required" for="socialLink">Skill</label>
                    <input type="text" class="form-control" id="socialLink" placeholder="e.g. Javascript">
                </div>
                <div class="form-group col-lg-2">
                    <mat-icon matTooltip="Delete Skill" class="clickable delete-icon">delete</mat-icon>
                </div>
            </div>
            <button matTooltip="Add additional skill" type="button" class="btn btn-link link-button ps-0">
                <mat-icon class="align-middle">add</mat-icon>Add Skills
            </button>
            <hr>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title"><strong>Work Experience 1</strong></h3>
                    <mat-icon matTooltip="Delete Work Experience Details" style="color: #0d6efd;"
                        class="text-end clickable">delete</mat-icon>
                </div>
                <div class="form-row row">
                    <div class="form-group col-lg-5">
                        <label class="required" for="firstName">Job Title</label>
                        <input type="text" class="form-control" id="firstName" placeholder="e.g. Software Developer">
                    </div>
                    <div class="form-group col-lg-5">
                        <label class="required" for="lastName">Employer</label>
                        <input type="text" class="form-control" id="lastName" placeholder="e.g. Amazon private Ltd.">
                    </div>
                </div>

                <div class="form-row row">
                    <div class="form-group col-lg-5 ">
                        <label for="startDate">Start Date</label>
                        <input class="form-control date-input clickable" readonly="true" id="startDate" matInput
                            [matDatepicker]="picker" (click)="toggle._open($event)">
                        <mat-datepicker-toggle #toggle style="display: none;" matIconSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                    <div class="form-group col-lg-5">
                        <label [class.required] for="lastName">End Date</label>
                        <input type="text" class="form-control" id="lastName" placeholder="e.g. Tamil Nadu">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-lg-4">
                        <label class="required" for="firstName">City</label>
                        <input type="text" class="form-control" id="firstName" placeholder="e.g. Chennai">
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="required" for="lastName">State</label>
                        <input type="text" class="form-control" id="lastName" placeholder="e.g. Tamil Nadu">
                    </div>
                    <div class="form-group col-lg-4">
                        <label class="required" for="lastName">Country</label>
                        <input type="text" class="form-control" id="lastName" placeholder="e.g. India">
                    </div>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input clickable" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label clickable required" for="flexCheckChecked">
                        Currently I work here
                    </label>
                </div>
                <div class="form-group">
                    <label for="summary">Work Experience Description</label>
                    <angular-editor class="form-control clickable no-focus no-border"
                        (click)="openEditor('Work Experience Description')" placeholder="Enter text"
                        [config]="editorConfig">
                    </angular-editor>
                </div>
                <button matTooltip="Add additional Work Experience" type="button" class="btn btn-link link-button ps-0">
                    <mat-icon class="align-middle">add</mat-icon>Add Work Experience
                </button>
            </div>
            <hr>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title"><strong>Education Detail 1</strong></h3>
                    <mat-icon matTooltip="Delete Education Details" style="color: #0d6efd;" class="text-end clickable">
                        delete</mat-icon>
                </div>
                <div class="form-row row">
                    <div class="form-group col-lg-5">
                        <label class="required" for="firstName">Institution Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="e.g. Anna University">
                    </div>
                    <div class="form-group col-lg-5">
                        <label class="required" for="lastName">Institution location</label>
                        <input type="text" class="form-control" id="lastName" placeholder="e.g. Delhi,India">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-lg-5">
                        <label class="required" for="firstName">Degree</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>Hsc</option>
                            <option>SSLC</option>
                            <option>Under Gradute</option>
                            <option>Post Graduate</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-5">
                        <label for="lastName">Field of Study</label>
                        <input type="text" class="form-control" id="lastName" placeholder="e.g. Tamil Nadu">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="form-group col-lg-5">
                        <label class="required" for="lastName">Start Date</label>
                        <mat-datepicker #picker></mat-datepicker>
                        <input type="date" class="form-control" id="lastName" placeholder="e.g. Tamil Nadu">
                    </div>
                    <div class="form-group col-lg-5">
                        <label class="required" for="lastName">End Date</label>
                        <input type="text" class="form-control" id="lastName" placeholder="e.g. Tamil Nadu">
                    </div>
                </div>
                <div class="form-group">
                    <label for="summary">Education Description</label>
                    <angular-editor class="form-control clickable no-focus no-border"
                        (click)="openEditor('Education Description')" placeholder="Enter text" [config]="editorConfig">
                    </angular-editor>

                </div>
                <button matTooltip="Add additionalEducation Details" type="button"
                    class="btn btn-link link-button ps-0">
                    <mat-icon class="align-middle">add</mat-icon>Add Education
                </button>
            </div>
            <div class="d-flex flex-row-reverse justify-content-between">
                <button type="submit" class="btn btn-primary">Generate</button>
            </div>
        </form>
    </div>
</div>
<footer></footer>