<div class="d-flex flex-column align-items-center text-center p-3 py-5 pic-holder">
    <img id="profilePic" class="mt-2" width="150px"
        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
    <Input class="uploadProfileInput" type="file" name="profile_pic" id="newProfilePhoto"
        accept="image/*" style="visibility: hidden;" />
    <label for="newProfilePhoto" class="upload-file-block">
        <div class="text-center">
            <div class="mb-2">
                <mat-icon>camera_alt</mat-icon>
            </div>
            <div class="text-uppercase">
                Update <br /> Profile Photo
            </div>
        </div>
    </label>
</div>